<header>
    <nav class="navbar navbar-light">
        <i class="ms-3" role="button" data-feather="menu" id="btn"></i>
        <div class="d-flex align-items-center me-4">
            <form class="d-flex me-4">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <div class="profile">
                <span class="acc-pic me-1">U</span>
                <h6 class="me-1">Unis Badri</h6>
                <i data-feather="chevron-down" id="btn"></i>
            </div>
        </div>
    </nav>
</header>